.links{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.links a{
  margin: 5px;
  text-decoration: none;
  color: white;
}

.links a:hover{
  text-decoration: underline;
}

