.menu{
  display:flex;
  justify-content: space-around;
  /*width: 100%;*/
}

.menu a{
  margin-top: 10px;
  width: 300px;
  background-color: #4a588c;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50px;
}
