.gestor-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gestor {
  margin: 5px;
  border: 1px solid black;
  width: 300px;

  font-size: 20px;
  background-color: rgb(177, 83, 122);
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  color: rgb(219, 202, 182);
}

.sub {
  color: black;
  font-weight: bolder;
}

.subordinados {
  width: 300px;
  border: 1px solid black;
  margin: 5px;
  color: rgb(226, 213, 196);
  display: flex;
  flex-wrap: wrap;

  font-size: 20px;
  background-color: #78a56d;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.subordinados p {
  margin: 5px;
}

.analistas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.analistas {
  font-size: 20px;
  background-color: #7289da;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  color: rgb(226, 213, 196);
}

.subordinados p:hover{
  color: orange;
}
.gestor p:hover{
  color: orange;
}
.analistas:hover{
  background-color:rgb(82, 117, 160);
}


